{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-3">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#qwe">
          Launch demo modal
        </button>

        <!-- Modal -->
        <div class="modal fade" id="qwe" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Hello!!!
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="col-md-6">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#asd">
          Launch demo modal
        </button>
    </div>
    <div class="col-md-3">
        {% with "some_text" as new_var %}
            {{new_var}}
        {% endwith %}

        {% verbatim %}
            {{ greet }}
        {% endverbatim %}

        {% now "jS F Y H:i" %}

        {% if greet == 'Hello' %}
            {{ greet }} {{ user }} !!!
        {% elif greet == 'Hola' %}
            {{ user.email|upper }} {{ greet }} {{ listed|length }} <br>
            {{ some_dict. }}

            {% for key, value in some_dict.items %}
                {{ forloop.counter0|add:10 }} {{ forloop.counter }} {{ key }}:{{ value }}<br>
            {% endfor %}

        {% else %}
            Not Valid greet!
        {% endif %}

        <ul>
        {% for item in listed %}
            <li>Item number: {{ item }}</li>
        {% endfor %}
        </ul>

    </div>
</div>
{% endblock %}