<div class="col-lg-4 col-md-6 mb-4">
  <div class="card h-100">
    <a href="#"><img class="card-img-top" src="/media/{{ product.image }}" alt=""></a>
    <div class="card-body">
      <h4 class="card-title">
        <a href="#">{{product.name}}</a>
      </h4>
      <h5>${{product.price}}</h5>
        <p>{{product.get_status_display}}</p>
      <p class="card-text">
          {{product.description}}
      </p>
        <p>
            {% for tag in product.tags.all %}
                <a href="#">#{{tag.name}}</a>
            {% endfor %}
        </p>
        <!--<input type="submit" class="btn btn-primary" value="Купить">-->
        <form method="post" action="{% url 'checkout' product.id %}">
            {% csrf_token %}
            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="{{ stripe_pk_key }}"
                    data-amount="{{ product.price_for_stripe }}"
                    data-name="My Market"
                    data-description="{{ product.description }}"
                    data-currency="usd">
            </script>
        </form>
    </div>
    <div class="card-footer">
      <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
    </div>
  </div>
</div>